<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs235.casualbetting" >

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:configChanges="locale|layoutDirection">
        </activity>
        <activity
            android:name=".BankActivity"
            android:label="@string/title_activity_bank"
            android:configChanges="locale|layoutDirection">
        </activity>
        <activity
            android:name=".SportActivity"
            android:label="@string/title_activity_sport"
            android:configChanges="locale|layoutDirection">
        </activity>
        <activity
            android:name=".BetActivity"
            android:label="@string/title_activity_bet"
            android:configChanges="locale|layoutDirection">
        </activity>
        <activity
            android:name=".SportListActivity"
            android:label="@string/title_activity_sport_list"
            android:configChanges="locale|layoutDirection">
        </activity>
    </application>

</manifest>
